.button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid transparent;
  border-radius: var(--default-border-radius);
  background-color: var(--primary-bg-color);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  outline: none;
  box-shadow: 0 0 0 0 none;
  transition-property: border, background-color, color, box-shadow;
  transition-duration: var(--quick-transition-duration);
  transition-timing-function: var(--default-timing-function);
  cursor: pointer;

  &:focus-visible:not(.button:disabled),
  &:active:not(.button:disabled) {
    border: 2px solid var(--active-element-color);
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &__label {
    font-size: var(--default-font-size);
    font-weight: var(--semibold-font-weight);
    color: var(--primary-light-text-color);
  }

  &_primary {
    background-color: var(--primary-bg-color);
    .button {
      &__label {
        color: var(--primary-light-text-color);
      }
    }

    &:focus-visible:not(.button:disabled),
    &:active:not(.button:disabled) {
      background-color: var(--secondary-bg-color);
      box-shadow: var(--active-element-primary-shadow);

      .button {
        &__label {
          color: var(--active-element-color);
        }
      }
    }
  }

  &_secondary {
    background-color: var(--secondary-bg-color);
    .button {
      &__label {
        color: var(--primary-text-color);
      }
    }
  }
}
