$hSpacing: 12px;

.input {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column-reverse nowrap;
  row-gap: 4px;

  &__label {
    position: relative;
    left: $hSpacing;
    font-size: var(--sm-font-size);
    font-weight: var(--default-font-weight);
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: var(--quick-transition-duration);
    transition-timing-function: var(--default-timing-function);
  }

  &__field {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    border: 1px solid var(--primary-border-color);
    border-radius: var(--default-border-radius);
    outline: none;
    transition-property: border;
    transition-duration: var(--quick-transition-duration);
    transition-timing-function: var(--default-timing-function);

    &::placeholder {
      opacity: 0.3;
    }
  }

  &__icon {
    position: absolute;
    min-width: var(--default-icon-size);
    width: var(--default-icon-size);
    height: var(--default-icon-size);
    color: var(--primary-border-color);
    transition-property: color;
    transition-duration: var(--quick-transition-duration);
    transition-timing-function: var(--default-timing-function);

    &_prepend-inner {
      top: 50%;
      left: $hSpacing;
    }
    &_prepend-outer {
      top: 0;
      left: 0;
    }
    &_append-inner {
      cursor: pointer;
      top: 50%;
      right: $hSpacing;
    }
    &_append-outer {
      top: 0;
      right: 0;
    }
  }

  &_prepend-inner {
    .input {
      &__field {
        padding-left: 40px;
      }
    }
  }

  &_append-inner {
    .input {
      &__field {
        padding-right: 40px;
      }
    }
  }

  &__field:active,
  &__field:focus {
    border: 1px solid var(--active-element-color);
  }

  &__field:active ~ &__label,
  &__field:focus ~ &__label {
    color: var(--active-element-color);
  }

  &__field:active ~ &__icon,
  &__field:focus ~ &__icon {
    color: var(--active-element-color);
  }
}
